<footer class="page__footer footer">
  <div class="footer__wrapper">
    <div class="footer__contacts-wrapper">
      <div class="footer__social social">
        <ul class="social__list">
          <li class="social__item">
            <a href="" class="social__link link vk">
              <span class="visually-hidden">ВК</span>
            </a>
          </li>

          <li class="social__item">
            <a href="" class="social__link link telegram">
              <span class="visually-hidden">Телеграм</span>
            </a>
          </li>

          <li class="social__item">
            <a href="" class="social__link link instagram">
              <span class="visually-hidden">Инстаграм</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__contacts footer-contacts">
        <ul class="footer-contacts__list">
          <li class="footer-contacts__item phone">
            <a href="tel:" class="footer-contacts__link link">Телефон 1</a>
          </li>

          <li class="footer-contacts__item phone">
            <a href="tel:" class="footer-contacts__link link">Телефон 2</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__navigation footer-navigation">

      <ul class="footer-navigation__list">
        <li class="footer-navigation__item">
          <a href="./catalog-index.html" class="footer-navigation__link link">Каталог</a>
        </li>

        <li class="footer-navigation__item">
          <a href="./collections-index.html" class="footer-navigation__link link">Коллекции</a>
        </li>

        <li class="footer-navigation__item">
          <a href="./order.html" class="footer-navigation__link link">Как заказать?</a>
        </li>

        <li class="footer-navigation__item">
          <a href="./about.html" class="footer-navigation__link link">Обо мне</a>
        </li>

        <li class="footer-navigation__item">
          <a href="./reviews.html" class="footer-navigation__link link">Отзывы</a>
        </li>

        <li class="footer-navigation__item">
          <a href="./contacts.html" class="footer-navigation__link link">Контакты</a>
        </li>
      </ul>

      <ul class="footer-navigation__list footer-navigation__list--desktop">
        <li class="footer-navigation__item">
          <a href="" class="footer-navigation__link link">Раздел 1</a>
        </li>

        <li class="footer-navigation__item">
          <a href="" class="footer-navigation__link link">Раздел 2</a>
        </li>

        <li class="footer-navigation__item">
          <a href="" class="footer-navigation__link link">Раздел 3</a>
        </li>

        <li class="footer-navigation__item">
          <a href="" class="footer-navigation__link link">Раздел 4</a>
        </li>
      </ul>
    </div>

    <div class="footer__info footer-info">
      <span class="footer-info__copyright">© 2024 AngelaVladi</span>

      <a href="https://yuriyplotnikovv.ru/" class="footer-info__developer link">
        <span class="footer-info__text">
          Designed by
        </span>

        <svg class="footer-info__logo" viewBox="0 0 50 50" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="images/sprite.svg#developer-logo" />
        </svg>
      </a>

      <a href='https://icons8.com' class="footer-info__icons link">
        <span class="footer-info__text">icons by</span>
        <svg class="footer-info__logo" viewBox="0 0 50 50" width="30" height="30" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="images/sprite.svg#icons-author" />
        </svg>
      </a>
    </div>
  </div>
</footer>
