<section class="contacts__request request">
  <form action="" class="request__form form">
    <legend class="form__legend">
      <h2 class="form__title">
        Оставьте заявку:
      </h2>
    </legend>

    <div class="form__name">
      <label class="form__label" for="form-name">Имя</label>

      <input class="form__input" id="form-name" type="text" placeholder="Angela Vladi" required>
    </div>

    <div class="form__email">
      <label class="form__label" for="form-email">E-mail</label>

      <input class="form__input" id="form-email" type="email" placeholder="AngelaVladi@example.ru" required>
    </div>

    <div class="form__phone">
      <label class="form__label" for="form-phone">Номер телефона</label>

      <input class="form__input" id="form-phone" type="phone" placeholder="+79001234567">
    </div>

    <div class="form__message">
      <label class="form__label" for="form-message">Отзыв</label>

      <textarea class="form__input" id="form-message" name="message" placeholder="В ожидании ваших впечатлений..."
        cols="30" rows="11" required></textarea>
    </div>

    <p class="form__motivation">В ближайшее время мы с Вами свяжемся!</p>

    <button class="form__button button button--link" type="submit">Отправить</button>
  </form>
</section>
