<header class="page__header header">
  <div class="header__wrapper">
    <a href="/" class="header__logo-link link">
      <span class="visually-hidden">Главная</span>

      <svg class="header__logo" viewBox="0 0 100 50" width="150" height="75" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="images/sprite.svg#angelavladi-logo" />
      </svg>
    </a>

    <nav class="header__navigation navigation">
      <button class="navigation__button button button--menu" type="button">
        <span class="visually-hidden">Меню</span>
      </button>
      <ul class="navigation__list navigation__list--hidden">
        <li class="navigation__item navigation__item--current">
          <a href="./catalog-index.html" class="navigation__link link">Каталог</a>
        </li>

        <li class="navigation__item">
          <a href="./collections-index.html" class="navigation__link link">Коллекции</a>
        </li>

        <li class="navigation__item">
          <a href="./order.html" class="navigation__link link">Как заказать?</a>
        </li>

        <li class="navigation__item">
          <a href="./about.html" class="navigation__link link">Обо мне</a>
        </li>

        <li class="navigation__item">
          <a href="./reviews.html" class="navigation__link link">Отзывы</a>
        </li>

        <li class="navigation__item">
          <a href="./contacts.html" class="navigation__link link">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="header__social social">
      <ul class="social__list">
        <li class="social__item">
          <a href="" class="social__link link vk">
            <span class="visually-hidden">ВК</span>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link link telegram">
            <span class="visually-hidden">Телеграм</span>
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link link instagram">
            <span class="visually-hidden">Инстаграм</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
