<li class="slider-promo__item card slider__item swiper-slide">
  <div class="card__slider slider slider-card swiper-container" data-pagination>
    <ul class="slider__list swiper-wrapper">
      <li class="slider__item slider-card__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item swiper-slide">
        <picture class="slider-item__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>
    </ul>

    <div class="slider__pagination slider-pagination"></div>
  </div>

  <div class="card__content">
    <h3 class="card__title">Летнее платье</h3>

    <ul class="card__colors colors">
      <li class="colors__item colors__item--white"></li>
      <li class="colors__item colors__item--red"></li>
      <li class="colors__item colors__item--black"></li>
      <li class="colors__item colors__item--yellow"></li>
    </ul>

    <div class="card__price">
      <span class="card__price-label">от</span>
      <span class="card__price-value">5000</span>

      <a href="" class="card__link button button--card">Подробнее</a>
    </div>

  </div>
</li>
