<div class="detail__slider slider-detail">
  <div class="slider-detail__wrapper slider slider-images swiper-container" data-with-thumbs>
    <ul class="slider__list swiper-wrapper">
      <li class="slider__item slider-images__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-images__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-images__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-images__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-images__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>
    </ul>
  </div>

  <div class="slider-detail__wrapper slider slider-thumbs swiper-container" data-thumb>
    <ul class="slider__list swiper-wrapper">
      <li class="slider__item slider-thumbs__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-thumbs__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-thumbs__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-thumbs__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>

      <li class="slider__item slider-thumbs__item swiper-slide">
        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>
      </li>
    </ul>
  </div>
</div>
