<section class="main__slider-main slider-main">
  <h2 class="visually-hidden">Избранные предложения</h2>
  <div class="slider-main__wrapper slider swiper-container" data-autoplay data-navigation>

    <ul class="slider__list swiper-wrapper">
      <li class="slider__item swiper-slide">
        <h3 class="visually-hidden">Заголовок слайда</h3>

        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>

        <div class="slider__content slider-content">
          <p class="slider-content__text">Текст слайда</p>

          <a href="" class="slider-content__link button button--card">Ссылка на товар</a>
        </div>
      </li>

      <li class="slider__item swiper-slide">
        <h3 class="visually-hidden">Заголовок слайда</h3>

        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>

        <div class="slider__content slider-content">
          <p class="slider-content__text">Текст слайда</p>

          <a href="" class="slider-content__link button button--card">Ссылка на товар</a>
        </div>
      </li>

      <li class="slider__item swiper-slide">
        <h3 class="visually-hidden">Заголовок слайда</h3>

        <picture class="slider__picture">
          <img src="../images/photo/test.jpg" alt="" class="slider__image">
        </picture>

        <div class="slider__content slider-content">
          <p class="slider-content__text">Текст слайда</p>

          <a href="" class="slider-content__link button button--card">Ссылка на товар</a>
        </div>
      </li>

    </ul>

    <div class="slider__navigation slider-navigation">
      <div class="slider-navigation__button button button--left">
        <span class="visually-hidden">Предыдущий слайд</span>
      </div>

      <div class="slider-navigation__button button button--right">
        <span class="visually-hidden">Следующий слайд</span>
      </div>
    </div>
  </div>
</section>
