<div class="contacts-info__social contacts-social">
  <ul class="contacts-social__list">
    <li class="contacts-social__item">
      <a href="" class="contacts-social__link link vk">
        <span class="contacts-social__link-text">ВК</span>
      </a>
    </li>

    <li class="contacts-social__item">
      <a href="" class="contacts-social__link link telegram">
        <span class="contacts-social__link-text">Телеграм</span>
      </a>
    </li>

    <li class="contacts-social__item">
      <a href="" class="contacts-social__link link instagram">
        <span class="contacts-social__link-text">Инстаграм</span>
      </a>
    </li>
  </ul>
</div>
