.new-comment {
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 20px 50px;
    justify-items: center;

    @include block-position;

    @media (max-width: $mobile-max-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
